table{border-collapse:collapse}table,td{border:1px solid #000}td{width:50px;height:50px;text-align:center;vertical-align:center;font-family:monospace;font-size:18px;position:relative}.pixel-index{font-size:10px;display:inline-block;position:absolute;top:2px;right:2px;color:#999}td.pixel{width:4px;height:4px;border:0}
/*# sourceMappingURL=main.1f94d4d2.chunk.css.map */